<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persons</title>
    <link rel="stylesheet" href="/styles/basicStyle.css">
</head>

<body>

    <main>
        <h1>All Persons</h1>
        <% if(result.length===0){%>
            <h2>No person found</h2>
            <%} else { %>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Department</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% result.forEach(person=> { %>
                                <td>
                                    <%= person.id %>
                                </td>
                                <td>
                                    <%= person.firstname %>
                                </td>
                                <td>
                                    <%= person.lastname %>
                                </td>
                                <td>
                                    <%= person.department %>
                                </td>
                                <td>
                                    <%= person.salary %>
                                </td>
                        </tr>
                        <%}) %>
                    </tbody>
                </table>
                <% } %>
                    <a href="/"><button>Home</button> </a>
    </main>

</body>

</html>